<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a>微Mentor</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >主页 HOME</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >关于 ABOUT</a>
    </li>
    <li>
      <a href="#services" onclick = $("#menu-close").click(); >项目 SERVICES</a>
    </li>
    <li>
      <a href="#subjects" onclick = $("#menu-close").click(); >学科 SUBJECTS</a>
    </li>
    <li>
      <a href="#portfolio" onclick = $("#menu-close").click(); >导师 MENTORS</a>
    </li>
        <li>
      <a href="#weseries" onclick = $("#menu-close").click(); >微系列 WESERIES</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >联系 CONTACT</a>
    </li>
  </ul>
</nav>
