<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Mentors</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/mentor_female.png" height="42" width="42">
                <p> Tina Gui</p>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/mentor_male.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/mentor_female.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/mentor_male.png">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
