<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Mentors</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/female.png" height="150" width="150">
              <h4>
                <strong>Tina</strong>
              </h4>
              <p>Computer and Data Scientist <br> Anheuser-Busch InBev</p>
              <p>(Ph.D. in Computer Science)</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/male.png" height="150" width="150">
              <h4>
                <strong>Cheng</strong>
              </h4>
              <p>Senior Program Analyst <br> Columbia University</p>
              <p>(Ph.D. in Bioinformatics)</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
           <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/male.png" height="150" width="150">
              <h4>
                <strong>Tommy</strong>
              </h4>
              <p>Postdoctoral Research Scientist <br> Arizona State University</p>
              <p>(Ph.D. in Bioinformatics)</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/female.png" height="150" width="150">
              <h4>
                <strong>Vivian</strong>
              </h4>
              <p>Postdoctoral Research Scientist <br> University of Pennsylvania</p>
              <p>(Ph.D. in Biomedical Science)</p>
            </div>
          </div>
                    <div class="col-md-3 col-sm-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/male.png" height="150" width="150">
              <h4>
                <strong>Chao</strong>
              </h4>
              <p>Postdoctoral Research Scientist <br> Yale University</p>
              <p>(Ph.D. in Chemistry)</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/male.png" height="150" width="150">
              <h4>
                <strong>Ye</strong>
              </h4>
              <p>Machine Learning Scientist <br> Carnegie Mellon University</p>
              <p>(Ph.D. in Computer Science)</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
           <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/female.png" height="150" width="150">
              <h4>
                <strong>Fenndy</strong>
              </h4>
              <p>Assistant Professor <br> Western Illinois University</p>
              <p>(Ph.D. in Economics)</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/male.png" height="150" width="150">
              <h4>
                <strong>Vacant</strong>
              </h4>
              <p>Job Title and Affiliation</p>
              <p>Doctoral Degree</p>
            </div>
          </div>
          
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
