<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Mentors</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/female.png" height="150" width="150">
              <h4>
                <strong>Tina</strong>
              </h4>
              <p>Computer and Data Scientist</p>
              <p>Anheuser-Busch InBev</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/male.png" height="150" width="150">
              <h4>
                <strong>Cheng</strong>
              </h4>
              <p>Senior Program Analyst</p>
              <p>Columbia University</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
           <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/male.png" height="150" width="150">
              <h4>
                <strong>Tommy</strong>
              </h4>
              <p>Postdoctoral Research Scientist</p>
              <p>Arizona State University</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/female.png" height="150" width="150">
              <h4>
                <strong>Vivian</strong>
              </h4>
              <p>Postdoctoral Research Scientist</p>
              <p>University of Pennsylvania</p>
            </div>
          </div>
                    <div class="col-md-3 col-sm-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/male.png" height="150" width="150">
              <h4>
                <strong>Chao</strong>
              </h4>
              <p>Postdoctoral Research Scientist</p>
              <p>Yale University</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/male.png" height="150" width="150">
              <h4>
                <strong>Ye</strong>
              </h4>
              <p>Machine Learning Scientist</p>
              <p>Carnegie Mellon University</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
           <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/female.png" height="150" width="150">
              <h4>
                <strong>Fenndy</strong>
              </h4>
              <p>Assistant Professor</p>
              <p>Western Illinois University</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/male.png" height="150" width="150">
              <h4>
                <strong>Vacant</strong>
              </h4>
              <p>Job Title and Affiliation</p>
            </div>
          </div>
          
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
